n8n/workflows/course-generation-full-automation.json
{
  "name": "course-generation-full-automation",
  "nodes": [
    {
      "id": "a0000000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "a0000000-0000-4000-8000-000000000002",
      "name": "Set Course Generation Id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0000000-0000-4000-8000-000000000001",
              "name": "courseGenerationId",
              "type": "number",
              "value": 1
            }
          ]
        }
      }
    },
    {
      "id": "a0000000-0000-4000-8000-000000000003",
      "name": "Start Course Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:8080/api/automation/course-generations/{{$json.courseGenerationId}}/start",
        "authentication": "none",
        "sendBody": false
      }
    },
    {
      "id": "a0000000-0000-4000-8000-000000000004",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a course titled \\\"{{$('Start Course Generation').item.json.title}}\\\" about \\\"{{$('Start Course Generation').item.json.topic}}\\\" for a {{$('Start Course Generation').item.json.targetAudience}} audience, at a {{$('Start Course Generation').item.json.difficulty}} difficulty level.\"\n    }\n  ]\n}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-key",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "id": "a0000000-0000-4000-8000-000000000005",
      "name": "Extract Generated Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0000000-0000-4000-8000-000000000002",
              "name": "generatedContent",
              "type": "string",
              "value": "={{$json.content[0].text}}"
            },
            {
              "id": "b0000000-0000-4000-8000-000000000003",
              "name": "courseGenerationId",
              "type": "number",
              "value": "={{$('Set Course Generation Id').item.json.courseGenerationId}}"
            }
          ]
        }
      }
    },
    {
      "id": "a0000000-0000-4000-8000-000000000006",
      "name": "Complete Course Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:8080/api/automation/course-generations/{{$json.courseGenerationId}}/result",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"generatedContent\": \"{{$json.generatedContent}}\"}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Course Generation Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Course Generation Id": {
      "main": [
        [
          {
            "node": "Start Course Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Course Generation": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Extract Generated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Generated Content": {
      "main": [
        [
          {
            "node": "Complete Course Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
